{% extends 'base.html.twig' %}
{% block body %}
<h1>{{ title }}</h1>

<div>
    Tracks:

    <ul>
        {% for track in tracks %}

            <li>
                {{ track.song }} - {{ track.artist|upper }}
            </li>
        {% endfor %}
    </ul>
</div>

{% endblock %}